<!-- <div class="row">
  <div class="col-xs-6">
    <table class="table">
      <tbody *ngFor="let force of forces | slice: 1:forces.length/2">
        <tr>
          <a [routerLink]="['/force', force.id]">{{force.name}}</a>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-6">
    <table class="table">
      <tbody *ngFor="let force of forces | slice: forces.length/2:forces.length">
        <tr>
          <a [routerLink]="['/force', force.id]">{{force.name}}</a>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->


<div class="row">
<mat-list>
  <mat-list-item *ngFor="let force of forces"></mat-list-item>
</mat-list>
</div>
