<div class="row">
  <div class="col-md-6">
    <table class="table">
      <tbody *ngFor="let force of forces | slice: 1:forces.length/2">
        <tr>
          <a href="#" class="">{{force.name}}</a>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table">
      <tbody *ngFor="let force of forces | slice: forces.length/2:forces.length">
        <tr>
          <a href="#" class="">{{force.name}}</a>
        </tr>
      </tbody>
    </table>
  </div>
</div>
